
body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s, color 0.3s;
}


body.dark-mode {
  background-color: #1e1e1e;
  color: #ffffff;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

