<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
  <div class="content">
    <!-- 侧边栏 -->
    <div class="sidebar">
      <img src="/images/Wenqi_circle.png" alt="Wenqi Di">
      <p>
        I am Wenqi Olivia Di (狄文绮), a senior-year undergraduate student majoring in Biomedical Engineering at Hajim School of Engineering (Alpha Eta Mu Beta BME National Honor Society ’24), with a dual degree in Economics at the School of Arts & Sciences, University of Rochester. My research interests lie broadly in biomechanics and synthetic biology, especially topics related to biomaterials, pathology, and machinery design.
      </p>
    </div>

    <!-- 主内容区域 -->
    <div class="main-content">
      {{ content }}
    </div>
  </div>

  <!-- JavaScript for Theme Toggle -->
  <script src="/assets/js/theme-toggle.js"></script>
</body>
</html>


